<div>
	<app-page-header [heading]="'Translations'" [icon]="'fa-edit'"></app-page-header>
	<div class="row">
		<div class="col-lg-8">
			<div class="card card-default">
				<div class="card-header"><i class="fa fa-pencil fa-fw"></i> Update current template</div>
				<div class="card-body">
					<form>
						<div class="row">
							<div class="col-md-5">
								<div class="form-group">
									<label for="up-name"> Name</label>
									<input
										type="text"
										id="up-name"
										class="form-control"
										placeholder="Name condition"
										value="android" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="up-condition">Condition</label>
									<input
										type="text"
										id="up-condition"
										class="form-control"
										placeholder="Expression condition"
										value="device.os == 'android'" />
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="param-set">Parameter</label>
									<input
										type="text"
										id="param-set"
										class="form-control"
										placeholder="Parameter to set"
										value="header_text" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="default-val">Default value</label>
									<input
										type="text"
										id="default-val"
										class="form-control"
										placeholder="Default value"
										value="A Gryffindor must be brave, talented and helpful." />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="condition-val">Condition Value</label>
									<input
										type="text"
										id="condition-val"
										class="form-control"
										placeholder="Condition value"
										value="A Droid must be brave, talented and helpful." />
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-info btn-fill pull-right">Update template</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card card-default">
				<div class="card-header">
					<i class="fa fa-upload fa-fw"></i> Upload and publish new template
				</div>
				<div class="card-body">
					<form action="">
						<div class="form-group">
							<label for="upload-file">File input</label>
							<input type="file" id="upload-file" class="form-control-file" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<hr>
		<div class="col-lg-4">
			<div class="card card-default">
				<div class="card-header">
					<i class="fa fa-code-fork fa-fw"></i> Contol versions 
				</div>
				<div class="card-body">
						<div class="form-group">
							<p class="h2">Manage Remote Config template versions</p>
							<p>This section describes how to manage versions of your Remote Config template. For more detail on how to create, modify and save templates programmatically, see Modify Remote Config programmatically.</p>
							<p class="h3">List all stored versions of the Remote Config template</p>
							<p>You can retrieve a list of all stored versions of the Remote Config template.</p>
							<button type="button" (click)="getListVersions()" class="btn btn-secondary">&#10132;</button>
						</div>
				</div>
			</div>
		</div>

	</div>
</div>
