<div>
	<app-page-header [heading]="'Translations'" [icon]="'fa-edit'"></app-page-header>
	<div class="row">
		<div class="col-xl-7 col-lg-12">
			<div class="card mb-3">
				<div class="card-header"><i class="fa fa-pencil fa-fw"></i> Updater form</div>
				<div class="card-body">
					<form [formGroup]="updaterForm" (ngSubmit)="onSubmit(updaterForm)">
						<div class="row">
							<div class="col-md-5">
								<div class="form-group">
									<label for="up-name"> Name</label>
									<input
										type="text"
										id="up-name"
										formControlName="conditionName"
										class="form-control"
										placeholder="Name condition"
										value="android" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="up-condition">Condition</label>
									<input
										type="text"
										id="up-condition"
										formControlName="conditionExpression"
										class="form-control"
										placeholder="Expression condition"
										value="device.os == 'android'" />
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="param-set">Parameter</label>
									<input
										type="text"
										id="param-set"
										formControlName="parameter"
										class="form-control"
										placeholder="Parameter to set"
										value="header_text" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="default-val">Default value</label>
									<input
										type="text"
										id="default-val"
										formControlName="defaultValue"
										class="form-control"
										placeholder="Default value"
										value="A Gryffindor must be brave, talented and helpful." />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="condition-val">Condition Value</label>
									<input
										type="text"
										id="condition-val"
										formControlName="conditionValue"
										class="form-control"
										placeholder="Condition value"
										value="A Droid must be brave, talented and helpful." />
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-info btn-fill pull-right">Update template</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-xl-5 col-lg-12">
			<div class="card card-default">
				<div class="card-header"><i class="fa fa-upload fa-fw"></i> Publish template</div>
				<div class="card-body">
					<div class="col">
						<p class="text-start">
							Publishing a template replaces the entire existing config template with the updated
							file and increments the template version by one.
						</p>
						<div class="form-group">
							<input type="file" class="form-control-file" (change)="onFileSelected($event)" />
						</div>
						<button
							type="submit"
							class="btn btn-info btn-fill pull-right"
							[disabled]="!currentFile"
							(click)="upload()">
							Upload
						</button>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="col col-xl-6 col-lg-12">
			<div class="card mb-3">
				<div class="card-header"><i class="fa fa-code-fork fa-fw"></i> Control versions</div>
				<div class="card-body table-responsive">
					<p>
						You can retrieve a list of all stored versions of the Remote Config template, or
						download the current Template
						<button (click)="getCurrentTemplate()" class="border btn-link">here</button>.
					</p>
					<table class="table">
						<thead>
							<tr>
								<th>
									<a (click)="sortBy('versionNumber')">Version Number {{ sortIcon('version') }}</a>
								</th>
								<th>
									<a (click)="sortBy('updateOrigin')">Update Origin{{ sortIcon('origin') }}</a>
								</th>
								<th>
									<a (click)="sortBy('updateTime')">Update Time{{ sortIcon('time') }}</a>
								</th>
							</tr>
						</thead>
						<tbody>
							@for (version of versions; track $index) {
								<tr>
									<th scope="row">{{ version.versionNumber }}</th>
									<td>{{ version.updateOrigin }}</td>
									<td>{{ version.updateTime | date: 'medium' }}</td>
								</tr>
							}
							@if (loading) {
								<tr>
									<td colspan="3" class="text-center py-3">
										<span class="spinner-border spinner-border-lg align-center"></span>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<div class="card-footer pb-0 pt-3">
					<app-pagination [items]="items" (changePage)="onChangePage($event)"></app-pagination>
				</div>
			</div>
		</div>

		@if (currentTemplate) {
			<ng-container>
				<div class="col col-xl-6 col-lg-12">
					<div class="card mb-3">
						<div class="card-header"><i class="fa fa-code-fork fa-fw"></i> Current template</div>
						<div class="card-body" id="current-template">
							<code>
								<pre class="vertical-scroll">{{ currentTemplate | json }}</pre>
							</code>
						</div>
					</div>
				</div>
			</ng-container>
		}
	</div>
</div>
