<div>
	<app-page-header [heading]="'Messaging'" [icon]="'fa-edit'"></app-page-header>
	<div class="row">
		<div class="col-xl-6 col-lg-12">
			<div class="card card-default">
				<div class="card-header"><i class="fa fa-pencil fa-fw"></i> Message form</div>
				<div class="card-body">
					<form [formGroup]="messagerForm" (ngSubmit)="onSubmit(messagerForm)">
						<div class="col">
							<p class="text-start">
								FCM Messaging provides you with a messaging service for push notifications.
							</p>
							<div class="container bg-light bg-gradient">
								<div class="row p-2">
									<div class="col-xl-9">
										<p>Topic messaging allows you to send a message to multiple devices:</p>
									</div>
									<div class="col-xl-3">
										<select formControlName="topic" class="form-select" aria-label="Topic select">
											<option value="all_users">All Users</option>
										</select>
									</div>
								</div>

								<div class="row p-2">
									<div class="col-xl-9">
										<p>To single devices, target messages to registration tokens, not topics:</p>
									</div>
									<div class="col-xl-3">
										<input
											type="text"
											formControlName="token"
											class="form-control"
											placeholder="Device token" />
									</div>
								</div>
							</div>

							<div
								class="form-group mt-10"
								[class.has-error]="title?.invalid && (title?.dirty || title?.touched)">
								<label for="title">Title</label>
								<input
									type="text"
									id="title"
									formControlName="title"
									class="form-control"
									placeholder="Title of message"
									required />

								@if (!title?.valid && (title?.dirty || title?.touched)) {
									<div class="invalid-feedback">
										<div [hidden]="!title?.errors?.['required']">First Name is required</div>
									</div>
								}
							</div>
							<div class="form-group">
								<label for="message">Message</label>
								<textarea type="text" formControlName="message" id="message" class="form-control">
								</textarea>
							</div>
						</div>
						<button
							type="submit"
							[disabled]="!messagerForm.valid"
							class="btn btn-info btn-fill pull-right">
							Send message
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
